/* Movie booking home title styling */
.movie-booking-home-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Movie container styling */
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Movie box styling */
  .movie-box {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .movie-box:hover {
    transform: translateY(-4px);
  }
  
  /* Movie image styling */
  .movie-image3 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  /* Movie title styling */
  .movie-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .movie-box {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border:2px solid rgb(62, 57, 57);
    background-color: #292929ef;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(25, 25, 25, 0.1);
    transition: transform 0.3s ease;
    color:#fff;
  }
  
  
  /* Movie description styling */
  .movie-description {
    margin-bottom: 10px;
  }
  
  /* Trailer link styling */
  .trailer-link {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Trailer link hover styling */
  .trailer-link:hover {
    text-decoration: underline;
  }
  
  /* Movie rating styling */
  .movie-rating {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  /* Movie genre styling */
  .movie-genre {
    font-weight: bold;
  }
  