/* Movie booking home title styling */
.movie-booking-home-title1 {
  text-align: center;
  margin-bottom: 20px;
  
}
.movie-booking-home-title{
  color:white;
  font-size: 30px;
}

/* Movie container styling */
.movie-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}




/* Movie box styling */
.movie-box1 {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border:2px solid rgb(62, 57, 57);
  background-color:  #292929ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(25, 25, 25, 0.1);
  transition: transform 0.3s ease;
  color:#fff;
}

.movie-box1:hover {
  transform: translateY(-20px);
}

/* Movie image styling */
.movie-image1 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Movie title styling */
.movie-title1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  

}

.movie-title1:active{
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}

/* Movie description styling */
.movie-description1 {
  margin-bottom: 10px;
}

/* Trailer link styling */
.trailer-link1 {
  color: #007bff;
  text-decoration: none;
}

/* Trailer link hover styling */
.trailer-link1:hover {
  text-decoration: underline;
}

/* Movie rating styling */
.movie-rating1 {
  font-style: italic;
  margin-bottom: 5px;

}

/* Movie genre styling */
.movie-genre1 {
  font-weight: bold;
}

/* Updated filter button styling */
.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button.active {
  background-color: #ff0000; /* Red background for active button */
  color: #fff; /* White text color */
}

.filter-button:hover {
  background-color: #333; /* Darker black on hover */
}

#movie-booking-info {
  background-color: #ff0000;
  color:#fff;
 border-radius: 5px;
 transition: background-color 0.3s ease, color 0.3s ease;
}

#movie-booking-info:hover{
  background-color: #2b2a2a; /* Darker black on hover */
}

#movie-booking-info a{
text-decoration: none;
color:#fff;
}