.home-container{
    background-color: #0b0000;

}
#logo{
   
        width: 150px; 
        height: auto; 
        margin-right: 100px; 
        margin-left: -10px; 
        margin-bottom: -120px;
        margin-top: -20px;
      
    
}