/* MovieTime.css */

.movie-time {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /* Dark background color similar to Netflix */
  color: #fff;
}
body{
  background-color: #111; 
}

.movie-details-time {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-time-title {
  margin-top: 0;
  font-size: 2.7rem;
 
}

.showtime-selection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#movie-time-title{
  text-align: center;
  color:#fff;
  margin-bottom: 30px;
}
.movie-time-image-box{
  width: 600px;
  height: 80%;
  padding:10px;
  margin-left: 90px;
  background-color: #292929ef;
  position: relative;
  right: 200px;
  border-radius: 8px;
  border: 2px solid rgb(62, 57, 57); /* Added border style */
  box-shadow: 0 2px 4px rgba(25, 25, 25, 0.1);
  float: left; /* Align to the left */
}
.movie-time-image {
  width:100%; /* Adjust image size */
  height: 100%;
  border-radius: 5px;
  margin-right: 20px;
}



.select-label {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.select-box {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.movie-details-time{
  margin-bottom: 150%;
}
.time-select,
.screen-select,
.date-select {
  padding: 1rem;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  width:250%;
  border-radius: 3px;
}

.proceed-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e50914; /* Red accent color similar to Netflix */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proceed-button:hover {
  background-color: #ff3e25; /* Darker shade of red on hover */
}

.proceed-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}