.search-bar{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 1rem;
    padding-top:20px;
    margin-left: 120px; 
    margin-right: 20px; 
    width: auto;
    border-radius:20px;
    margin-top: -10px;

}
.user_info{
    color:white;
}
.search{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    border: 2px solid #0b0000;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 40px;
    width:120rem;
    padding:1rem;
    font-size: 1.2rem;
    

}
.search::placeholder{
    color: #010000;
    font-weight:500;
    font-size: 1.4rem;
}
.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }
.navbar-b1,.navbar-b2{
    border-radius:1.5rem;
    padding:1rem 2rem 2rem 2rem;
    width: 100px;
    margin: 1rem;
    height:45px;
    font-size: 1.6rem;
    
   
    color:white;
    background-color:#ff0000;

border:1px solid grey;

    
}
.navbar-b1:active,.navbar-b2:hover{
    background-color:#eb2b2b; ;
}

.order-history-button{
    color:white;
    background-color:#ff0000;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0.6rem;
    
}
.order-history-button:hover{
    background-color: #333;
}