.navbar1-container{
    display: flex;
}
#navbar1-b1{

padding:1rem;
margin: 1rem;
border:1px solid grey;

}
#navbar1-b2{
   
    padding:1rem;
    margin: 1rem;
    border:1px solid grey;
    
   
}
#navbar1-b1, #navbar1-b2, #navbar1-b3,#navbar1-b4{
    width: 6%;
    font-size: 1.4rem;
    border-radius: 1.5rem;
}
#navbar1-b3{
 
padding:1rem;
margin: 1rem;
border:1px solid grey;


}
#navbar1-b4{
  
    padding:1rem;
    margin: 1rem;
    border:1px solid grey;
   
}
.selected1{
    background-color: #e50914;
}