.movies-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.movie-card {
  flex: 0 0 auto;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f9f9f9;
  max-width: 300px;
  width: 100%; /* Ensure movie cards take full width */
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  
  object-fit: contain; /* Allow the image to adjust its height */
  max-height: 200px; /* Set a maximum height for consistency */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movie-card h2 {
  margin: 10px;
  font-size: 1.2rem;
  color: #333;
}

.movie-card p {
  margin: 10px;
  color: #666;
}

/* Scrollbar styling */
.movies-container::-webkit-scrollbar {
  width: 8px;
}

.movies-container::-webkit-scrollbar-track {
  background: transparent;
}

.movies-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.movies-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
