.payment-info-container {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  

}

.payment-form {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 60px;
  border-radius: 10px;
  width: 400px; /* Adjust width as needed */
}

.payment-heading {
  color: rgb(15, 14, 15);
  text-align: center;
}



.input-cardNum,
.input-name,
.input-expDate,
.input-cvv,
.input-zipCode {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.input-cardNum:focus,
.input-name:focus,
.input-expDate:focus,
.input-cvv:focus,
.input-zipCode:focus {
  outline: none;
  border-color: dodgerblue;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: gray;
}

.submit-button,
.cancel-button {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  background-color: #e50914;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0px;
}
.cancel-button{
  margin-bottom: 20px;
}

.label {
  font-size: 5rem;
  color: #333; 
  margin-bottom: 5px;
}