/* EditProfile.css */
.edit1-title{
  color:white;
}
.edit-profile-container1{
  display: flex;
  justify-content:space-around;

}

/* Main Container */
.edit-profile-container1 {

  align-items: center;
  margin-top: 20px;
}

/* Left Side - Edit Profile Form */
.edit1-profile-form {
  width: 50%; /* Adjust width as needed */
  color:#fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px; /* Spacing between left and right containers */
  background-color: #1c1c1c; /* Dark background */
}

.edit1-profile-form h1 {
  color: #fff; /* White text color */
  text-align: center;
  margin-bottom: 20px;
}

.edit1-profile-form .edit1-form-group {
  margin-bottom: 15px;
}

.edit1-profile-form .edit1-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333; /* Dark input background */
  color: #fff; /* White text color */
}

.edit1-profile-form .edit1-form-control:focus {
  border-color: #ff0000; /* Red border color on focus */
}

.edit1-profile-form .edit1-submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff0000; /* Red button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit1-profile-form .edit1-submit-btn:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Right Side - Edit Password Container */
.edit1-password-container {
  width: 40%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1c1c1c; /* Dark background */
}

.edit1-password-container h2 {
  color: #fff; /* White text color */
}

.edit1-password-container .edit1-form-group {
  margin-bottom: 15px;
}

.edit1-password-container .edit1-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:white;
  
}

.password-error{
  color: #fff;
}

.edit1-password-container .edit1-form-control:focus {
  border-color: #ff0000; /* Red border color on focus */
}
.edit1-password-form{
 background-color: #1c1c1c;
}

.edit1-password-form label{
  color:white;
 }
 
 .edit1-password-form input{
  background-color:rgb(59, 56, 56);
 }
 
.edit1-password-container h2{
  text-align: center;
}

.edit1-password-container .edit1-submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff0000; /* Red button background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit1-password-container .edit1-submit-btn:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Card Container at the Bottom */
.card-container {
  margin-top: 20px;
  width: 90%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1c1c1c; /* Dark background */

}
