.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.inputField {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 12px;
}

.label {
    color: black;
    font-weight: 500;
}

.errorMessage {
    color: red;
    display: none;
}

.inputField.invalid {
    border: 1px solid red;
}

.inputField.invalid ~ .errorMessage {
    display: block;
}
