.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("background_image.png");
  background-position: center;
}

.login-form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  color: rgb(15, 14, 15);
  text-align: center;
}

label {
  color: black;
}

.submit:hover {
  background-color: gray;
}

.submit {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(36, 36, 36);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
