body {
  background-color: black; 
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.container2 h2 {
  color: white; 
}



.container2 select {
  color: white; 
  background-color: black;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  margin-top: 10px;
  width: 200px;
}

.screen {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.seat-container {
  
  
  color: black; /* Text color changed to black */
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1.6fr);

 
}
.screen_shape {
  width: 590px;
  height: 50px;
  transform: perspective(3px) rotateX(1deg);
  margin: 0 17%;
  background: #d8e0e8;
  border-top: 3px solid #00000085;
  border-bottom: 4px solid #17171885;
  border-right: 6px solid #000000ab;
  border-left: 6px solid #3181ac85;
  border-radius: 7px;
  margin:30px;
}
.material-symbols-outlined{
  font-size: 30px;
}
.seat {
 
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color:#ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* border: 2px solid rgb(0, 0, 0); */
  box-shadow: 5px 10px #000000;
  border-radius: 5px;
}

.available {
  background-color: #ccc; 
}

.selected {
  background-color: rgb(10, 100, 178); 
}

.booked {
  background-color: #E50914; 
  cursor: not-allowed;
}

.showcase {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.showcase li {
  margin: 0 10px;
  color: white;
}

.text1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
}

.text2 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text2-h2 {
  font-size: 2rem;
}

.proceed-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.proceed-btn:hover {
  background-color: darkred;
}
