
.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
      ),
    url("https://img.freepik.com/free-vector/seamless-pattern-with-cinema-elements_225004-1154.jpg?w=1380&t=st=1708372952~exp=1708373552~hmac=a1859f4f10aba1f17f8697f146296b7b8f3bbd0ebd6f99f37e722e1bc990d60e");
  background-size: cover;
  background-position: center;
  overflow: auto; 
  
}

.registration-container .container {
  text-align: center; 
}

.registration-container form {
  background-color: white;
  color: black; 
  padding: 20px 60px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.registration-heading {
  font-size: 30px; 
}


.registration-container .register-btn {
  background-color: black; 
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 100px;
  cursor: pointer;
  margin-top: 15px;
}

.registration-container .register-btn:hover {
  background-color: gray;
}

button.register-button[type="submit"] {
  font-size: 20px; 
width: 100%;
margin-top: 1rem;
padding: 0.5rem 1rem 0.5rem 1rem;
background-color: black;
color: white;
}


.registration-container h2.center {
    color: rgb(15, 14, 15);
    text-align: center;
    margin-top: 0;
}

.registration-container label {
    color: black;
    font-weight: bold;
}

.registration-container input,
.registration-container select {
    width: calc(100% - 22px); 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.registration-container .checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3px;
}


.registration-container .checkbox-wrapper input {
  margin-left: -100px;
  margin-right: -120px;
}


.registration-container .checkbox-wrapper label {
  font-size: 12px;
  color: black;
  font-weight: 700;
  width: auto; 
  text-align: left; 
  margin-right: -5px; 
  display: inline-block; 
}


.registration-container .card-information {
  margin-bottom: 20px;
  font-size: 16px;
}


.registration-container .password-error-container {
  margin-top: 5px;
  width: 100%; 
  position: relative; 
}

.registration-container .password-error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px; 
  display: block;
  max-height: 50px; 
  overflow-y: auto; 
  position: absolute; 
  bottom: -120px; 
  left: 0; 
}

.registration-container .formInput[name="confirmPassword"] {
  margin-top: 100px; 
}

.registration-container .empty-space {
  height: 40px; 
}

